@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* base styles */
* {
	margin: 0;
	font-family: "Quicksand";
	color: #000000;
}
.navbar {
	padding: 30px;
	display: flex;
	align-items: center;
	max-width: 600px;
	margin: 0 auto;
	border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
	color: #e40f0f;
}
.navbar .links {
	margin-left: auto;
}
.navbar a {
	position: relative;
	color: rgb(0, 0, 0);
	text-decoration: none;
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
}
.navbar a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: #db3434; /* Change this color to your preferred underline color */
	transition: width 0.3s ease-in-out;
}
.navbar a:hover::before {
	width: 100%;
}
/*.navbar a:hover {
	color: #f1356d;
	background-color: rgba(179, 174, 174, 0.438);
	border-radius: 10px;
}*/
.content {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
}
